---
import logo from '../assets/logo-outline-opt.svg'
---

<header class="h-40 pt-7 bg-gradient-to-t from-white to-yellow-200 border-b-2 border-cyan-200">
  <a href="https://ahoy.coffee">
    <img src={logo} alt="Ahoy Coffee Co. logo" class="h-16 w-16 mx-auto">
  </a>
</header>
